.jumbotron {
  margin-bottom: 0px;
  padding-top: 80px;
  background: linear-gradient(-45deg, #19deea, #9c4feb);
  min-height: 350px;
}

h2,
.fa-apple {
  color: #fff;
}

h3 {
  color: aliceblue;
}

button {
  background-color: #ff2f56 !important;
  border-color: #ff2f56 !important;
}

.row {
  max-height: 325px;
  display: inline-box;
  overflow: hidden;
  white-space: nowrap;
  background-color: #383636;
}
ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
  margin: 5px 5px 5px 5px;
  display: inline;
}
